.master{
    display: flex;
}

.login-reg-panel{
    width: 80%;
    margin: auto;  
    padding: 10px;
}


h4{
  color: #530B0D;
  font-size: 26px; 
  border-bottom: 1px solid gray;
  display: inline-block;
  text-align: center;
  width:500px;
  margin-left: 30%;
  margin-bottom: 2%; 
}

p{
  color: #530B0D;
  font-size: 26px; 
  border-bottom: 1px solid gray;
  display: inline-block;
  text-align: center;
  width:500px;
  margin-left: 30%;
  margin-bottom: 2%; 
}

.asd{
    display: flex;
}

.log{
    width: 50%;
}
.second{
    width: 30%;
}