<div class='box'>
  <div class='wave -one'></div>
  <div class='wave -two'></div>
  <div class='wave -three'></div>
  <div class="weathercon"><fa-icon [icon]="faCloudSunRain" class='fas fa-cloud-moon' style='color: #d36326;'></fa-icon></div>  
  <div class="info">
    <h4 class="location">SUNNYVILLE</h4>
    <!-- <p class="date">MONDAY | SEP 12 | 12:34</p> -->
    <p class="date">CLOUD COVER 12 | WIND SPEED 12</p>
    <p class="date">2021-02-25 16:06</p>
    <h3 class="temp">25 &deg;C | 77 &deg;Pa</h3>
  </div>
</div>
