<div class="first">
  <div class="row">
      <div class="coll-md-3">
        <ul>
           <li>assdghgjhjk</li>
           <li>Order number</li>
        </ul>
      </div>
      <div class="coll-md-3">
          <ul>
              <li>assdghgjhjk</li>
              <li>Order number</li>
           </ul>
      </div>
      <div class="coll-md-3">
          <ul>
              <li>assdghgjhjk</li>
              <li>Order number</li>
           </ul>
      </div>
      <div class="coll-md-3">
          <ul>
              <li>assdghgjhjk</li>
              <li>Order number</li>
           </ul>
      </div>
  </div>
</div>