<div class="main">
    <div *ngIf="orders?.length!=0" class="d-flex flex-column justify-content-start">
        <div class="first" *ngFor="let order of orders">
            <ul>
                <li>{{order.id}}
                    <a type="button" [routerLink]="['/buy','order-details',order.id]" class="btn btn-outline-primary"
                        [ngStyle]="{border:none}">See order</a>
                </li>
                <li id="second">Order number</li>
            </ul>
        </div>
    </div>
    <div *ngIf="orders?.length==0">
        <h1>No orders to confirm</h1>
    </div>
</div>