<div>

    <h2>Gallery</h2>
       
    <div *ngFor="let image of (gallery$|async).images" class="responsive">
      <div class="gallery">
        <a target="_blank" href="img_forest.jpg">
          <img src="{{image}}" alt="Forest" width="600" height="400">
          
        </a>
        <!-- <div class="desc">Add a description of the image here</div> -->
      </div>
    </div>    
    <!-- <div class="clearfix"></div> -->
    
    <div style="padding:6px;">
      <p>{{(gallery$|async).description}}</p>      
    </div>    
</div>



