<div class="d-flex flex-row justify-content-center tour-information">  
    <div>
        <img class="tour-image" src="{{(tour$|async)?.image}}" alt="tour image">
    </div>

    <div>
        <div class="tour-description">
            <h1>{{(tour$ | async)?.name}}</h1>           
            <ul class="tour-list">
                <li>Category: {{(tour$ |async)?.category.name}}</li>
                <li>Difficulty level : {{(tour$ |async)?.difficultyLevel}}</li>
                <li>Vacant place: {{(tour$ |async)?.participants}}</li>
                <li>Start day: {{(tour$ |async)?.startDate}}</li>
                <li></li>
            </ul>
        </div>
        <div class="buttons-box" >
            <a class="btn-tour del" *ngIf="userService.hasAdminRole$()|async" (click)="deleteTour()">Delete</a>
            <a  class="btn-tour del" *ngIf="(userService.hasGuideRole$()|async)&& isCreator" style="background-color: rgb(87, 165, 42);" [routerLink]="['/tour','update',(tour$ | async)?.id]" >Update</a>
            <a class="btn-tour"
                *ngIf="!(userService.hasAdminRole$()|async) && !(userService.hasGuideRole$()|async) && (tour$|async)?.participants>0 && !isAdded"
                type="button" (click)="clickJoin()">Join</a>
            <a  class="btn-tour" *ngIf="userService.isAuthenticated()" [routerLink]="['/tour','tour-card']"
                type="button">Back</a>
            <a  class="btn-tour" *ngIf="isAdded" type="button">Already join</a>
            <a  class="btn-tour violet"
                *ngIf="!(userService.hasGuideRole$()|async)&&(tour$|async)?.participants<1&& !(userService.hasAdminRole$()|async)&&!isAdded"
                type="button">No vacant place</a>
           
            
        </div>
    </div>
    <div *ngIf="isAdded">
        <div [style.display]="fromWeather ? null : 'none'" class="ran">
            <app-weather [mLocation]="mLocation" (isDateEmitter)="emitClick($event)"></app-weather>
        </div>
    </div>
</div>