
    <div class="container">
        <div class="card bg-dark text-white">
            <img src="{{(tour$|async).image}}" class="card-img" alt="...">
            <div class="card-img-overlay">
                <h1 class="card-title"></h1>    
            </div>
        </div>
        <ul class="list-group">
            <li class="list-group-item">{{(tour$ | async).name}}</li>
            <li class="list-group-item">Category:{{(tour$ |async).category.name}}</li>
            <li class="list-group-item">Difficulty level : {{(tour$ |async).difficulty}}</li>
            <li class="list-group-item">Vacant place: {{(tour$ |async).participants}}</li>
            <li class="list-group-item">Start day: {{(tour$ |async).startAndEnd.split(" ")[0]}}</li>
        </ul>
        <div style="width: 50%; word-wrap: break-word; padding: 2%; ">
            <p style="width: 100%; word-wrap: break-word;" class="lead">
            </p>
            <button *ngIf="userService.isAdmin()" (click)="deleteTour()" class="btn btn-danger">Delete</button>
            <button *ngIf="!userService.isAdmin()&&(tour$|async).participants>0&& !isAdded" type="button" (click)="clickJoin()" class="btn btn-danger">Join</button>
            <button *ngIf="userService.isAuthenticated()" [routerLink]="['/tour-card']" type="button" class="btn btn-info">Back</button>
            <button *ngIf="isAdded" type="button"  class="btn btn-info">Already join.</button>
            <button *ngIf="(tour$|async).participants<1&&!userService.isAdmin()" type="button" class="btn btn-info">No vacant place.</button>
        </div>
    </div>
   