<div class="card">
    <div class="card-header">
      <h1>Cart</h1>
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0">
        <p *ngFor="let tour of (user$|async).cart"><a #name> {{tour.name}}: {{tour.price}} lv</a><button type="button" (click)="removeItem(tour.id)" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button></p>
        <footer class="blockquote-footer">Total amount: {{tourSum}}  <cite
          title="Source Title">Total amount </cite>
          Place order:<button class="btn btn-outline-success" (click)="order()" >Order</button>
        </footer>
      </blockquote>
    </div>  
  </div>


