<div class="container">
  <div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
      <h1>Create Tour</h1>
      <form [formGroup]="form" (submit)="create()">
        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-user"></i> </span>
          </div>
          <input class="form-control" formControlName="name" placeholder="Tour name">
        </div>
        <div class="alert alert-danger" *ngIf="f.name.errors?.required&&f.name.touched">
          Field is required!
        </div>
        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-user"></i> </span>
          </div>
          <input class="form-control" formControlName="description" placeholder="Tour description">
        </div>
        <div class="alert alert-danger" *ngIf="f.description.errors?.required&&f.description.touched">
          Field is required!
        </div>
        <!-- <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-user"></i> </span>
          </div>
          <input class="form-control" formControlName="category" placeholder="Tour category">
        </div>
        <div class="alert alert-danger" *ngIf="f.category.errors?.required&&f.category.touched">
          Field is required!
        </div> -->

        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-phone"></i> </span>
          </div>
          <select formControlName="category" class="custom-select" style="max-width: 120px;">
            <option>Choose</option>
            <option *ngFor="let category of categories$ | async">{{category.name}}</option>

          </select>
          <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-user"></i> </span>
          </div>
          <!-- <input class="form-control" formControlName="category" placeholder="Or Create Category"> -->
          <button [routerLink]="['/category','create']">Create Category</button>
        </div>


        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-user"></i> </span>
          </div>
          <input class="form-control" formControlName="startAndEnd" placeholder="Start and end day">
        </div>
        <div class="alert alert-danger" *ngIf="f.startAndEnd.errors?.required&&f.startAndEnd.touched">
          Field is required!
        </div>

        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-user"></i> </span>
          </div>
          <input class="form-control" formControlName="difficultyLevel" placeholder="Difficulty level">
        </div>
        <div class="alert alert-danger" *ngIf="f.difficultyLevel.errors?.required&&f.difficultyLevel.touched">
          Field is required!
        </div>

        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-user"></i> </span>
          </div>
          <input class="form-control" formControlName="participants" placeholder="Number participants">
        </div>
        <div class="alert alert-danger" *ngIf="f.participants.errors?.required&&f.participants.touched">
          Field is required!
        </div>

        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-user"></i> </span>
          </div>
          <input class="form-control" formControlName="image" placeholder="Image">
        </div>
        <div class="alert alert-danger" *ngIf="f.image.errors?.required&&f.image.touched">
          Field is required!
        </div>
        <div class="form-group input-group">
          <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fa fa-user"></i> </span>
          </div>
          <input class="form-control" formControlName="price" placeholder="Price">
        </div>
        <div class="alert alert-danger" *ngIf="f.price.errors?.required&&f.price.touched">
          Field is required!
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-block" [disabled]="form.invalid"> Create Tour </button>
        </div>
      </form>

      <p class="text-center">Have an account? <a href="">Log In</a> </p>

    </div>
    <div class="col-lg-4"></div>
  </div>