
<div class="container">
    <div class="card bg-dark text-white">
        <img src="{{tour.image}}" class="card-img" alt="...">
        <div class="card-img-overlay">
            <h1 class="card-title"></h1>            
        </div>
    </div>

    <ul class="list-group">
        <li class="list-group-item">{{tour.name}}</li>
        <li class="list-group-item">Description: {{tour.description}}</li>
        <li class="list-group-item">Category: {{tour.category.name}}</li>
        <li class="list-group-item">Difficulty level: {{tour.difficulty}}</li>
        <li class="list-group-item">Vacant place: {{tour.participants}}</li>
        <li class="list-group-item">Start day: {{tour.startAndEnd.split(" ")[0]}}</li>
    </ul>
<div *ngIf="userService.isAuthenticated()" style="width: 50%; word-wrap: break-word; padding: 2%; ">
    <p style="width: 100%; word-wrap: break-word;" class="lead">
    </p>
    <button [routerLink]="['/tour','description',tour.id]" class="btn btn-danger">Description</button>
    <!-- <button *ngIf="true" type="button" class="btn btn-info">Already join. Don't be late</button> -->
    
</div>

