<div class="container">
<div class="card bg-dark text-white">
    <img src="../../../assets/image/DSC01503.JPG" class="card-img" alt="...">
    <div class="card-img-overlay">
        <h1 class="card-title">Card title</h1>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
            content. This content is a little bit longer.</p>
        <p class="card-text">Last updated 3 mins ago</p>
    </div>
</div>

<ul class="list-group">
    <li class="list-group-item">Cras justo odio</li>
    <li class="list-group-item">Dapibus ac facilisis in</li>
    <li class="list-group-item">Morbi leo risus</li>
    <li class="list-group-item">Porta ac consectetur ac</li>
    <li class="list-group-item">Vestibulum at eros</li>
</ul>
<!-- <button type="button" class="btn btn-primary">Primary</button>
<button type="button" class="btn btn-primary">Primary</button> -->

</div>
<!-- <button type="button" class="btn btn-primary">Primary</button> -->
<div class="bf">
<button type="button" class="btn btn-outline-primary">Primary</button>
<button type="button" class="btn btn-outline-primary">Primary</button>
</div>