<h2>Guide portfolio</h2>
<div class="d-flex flex-column justify-content-center">
  <div class="row">
    <h2 *ngIf="(tours$ | async).length < 1">
      No tours available. Please create some great adventures!
    </h2>

    <div class="my">
      <h2 *ngIf="(myTours$ | async)"> {{username}}`s  tours </h2>      
      <div class="row">
        <div class="col-md-3" *ngFor="let tour of myTours$ | async">
          <app-details [tour]="tour" [isAuthenticate]="isAuthenticate"></app-details>
        </div>
      </div>
      <div *ngIf="(otherGuideTours$ | async)" class="my">
        <h2>Other guide tours</h2>
        <div class="row">
          <div class="col-md-3" *ngFor="let tour of otherGuideTours$ | async">
            <app-details [tour]="tour" [isAuthenticate]="isAuthenticate"></app-details>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
