<h2>Tours portfolio</h2>
<div class="d-flex flex-column justify-content-center">
  <div class="row">
    <h2 *ngIf="(tours$ | async).length < 1">
      No tours available. Please create some great adventures!
    </h2>

    <div class="col-md-3" *ngFor="let tour of tours$ | async">
      <div *ngIf="!(userService.hasGuideRole$() | async)">
        <app-details [tour]="tour"></app-details>
      </div>
    </div>

    <div class="col-md-3" >
      <div *ngIf="(userService.hasGuideRole$() | async)">
       <app-tour-list [tours$]="tours$" [myTours$]="myGuideTours$" [otherGuideTours$]="otherGuideTours$" ></app-tour-list>
      </div>
    </div> 
  
  </div>
</div>
