<p>tour-card works!</p>
<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="{{tour.image}}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">{{tour.description}}</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">{{tour.name}}</li>
      <li class="list-group-item">{{tour.category}}</li>
      <li class="list-group-item">{{tour.startAndEnd}}</li>
    </ul>
    <div class="card-body">
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>
    </div>
  </div>
