
<h1>Lorem ipsum</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati repudiandae totam perspiciatis illo quis consectetur blanditiis amet, hic fugit. Est voluptates distinctio quasi consequatur culpa illo laboriosam rem quisquam incidunt.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem suscipit debitis, nihil quaerat rerum exercitationem numquam quibusdam at quis sequi incidunt deleniti corporis. A excepturi dignissimos perferendis repellat nisi cupiditate! Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque officiis repellendus nam, quod a deleniti quae est quis corrupti minus error ipsum necessitatibus quasi alias, saepe dolorem at explicabo earum! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Soluta quis nesciunt esse minima reiciendis cupiditate vitae assumenda nihil culpa unde excepturi quasi, nostrum dolor laudantium ea, natus similique consequatur eius.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident, repellendus quisquam, odio nesciunt doloremque tempore quo et, quis vel amet ipsa nihil corrupti sit quod alias doloribus maxime eos pariatur.</p>
<form >
        
    <div class="col-md-6">
        <div class="form-group">
            <label for="nameId">Name</label>
            <input type="text" class="form-control" formControlName="name" id="nameId"/>    
        </div>
  
        <div class="form-group">
            <label for="ageId">Age</label>
            <input type="number" class="form-control" formControlName="age" id="ageId"/>    
        </div>
   </div>
   <div class="col-md-6">
        <div class="form-group">
            <label for="streetId">Street</label>
            <input type="text" class="form-control" formControlName="street" id="streetId"/>    
        </div>
        <div class="form-group">
            <label for="cityId">City</label>
            <input type="text" class="form-control" formControlName="city" id="cityId"/>    
        </div>
        <div class="form-group">
            <label for="stateId">State</label>
            <input type="text" class="form-control" formControlName="state" id="stateId"/>    
        </div>
        <div class="form-group">
            <label for="zipId">Zip</label>
            <input type="text" class="form-control" formControlName="zip" id="zipId"/>    
        </div>
   </div>

   <button type="submit" >Save </button>

</form>