
<form [formGroup]='form' (submit)="createCategory()" > 
      <h2>Create category</h2> 

    <div class="form-group input-group">    
      <div class="input-group-prepend">
        <span class="input-group-text"> <i class="fa fa-user"></i> </span>
      </div>     
      <input class="form-control" formControlName="name" placeholder="Category name">
    </div> 
     
      <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>

    <table class="table">
      <caption>List of users</caption>
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Existing categories</th>          
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>         
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Zak</td>         
        </tr>         
      </tbody>
    </table>

    <button [routerLink]="['/tour','create']" class="btn btn-primary">Create tour</button>
